<div class="container">
<div class="container" style="margin-left: 500px;height: 60%;margin-bottom: 100px;margin-top: 80px">

<div class="row">
    <div class="col-3"></div>
    <div class="col-4 " style="font-size: 3em;font-weight: bold;color: white">ACHIEVEMENTS</div></div>

<div class="row">
    <div class="col-1"></div>
    <div class="col-7" style="color: white;font-size: 1.5em">IEEE MAIT has always provided the platform to its member to engage and create something worthy</div>
</div>

</div>
<div class="row" style="margin-top: 300px;font-size: 1.5em;font-weight: bolder;color: white">
    <div class="col-4" style="margin-top: 40px">ACHIEVEMENTS UNDER IEEE</div>

    <div class="col-1" style="font-weight: bolder;font-size: 3em;margin-left: 150px;margin-right:40px">|</div>
<!--/<div class="col-4>"-->
    <div class="col-5" style="margin-top: 40px">VARIOUS OTHER ACHIEVEMENTS</div>

</div>

</div>