<div class="contact-grid" xmlns="http://www.w3.org/1999/html">
<div class="contact-content">
    <p class="contact-p">CONTACT US</p>
    <p class="contact-po">Let's work together</p>
</div>
    <div class="inp">
        <input type="text" placeholder="Name" size="40" class="type">
        <input type="text" placeholder="E-Mail" size="40" class="type">
        <input type="text" placeholder="Subject" size="40" class="type">
        <input type="text" placeholder="Write your Message" size="40" class="type">



    </div>
    <div class="con-btn">CONNECT</div>


</div>
<div class="footer">
<div class="add">
   <span id="map-lo">
       <img src="images/map-location.png" height="60px" width="60px">
   </span>
    Maharaja Agrasen Institute of Technology,PSP Area, Plot No. 1, Sector 22, Rohini, Delhi, 110086

</div>
    <div class="class-us">
     <span id="map-lo" class="add">
       <img src="images/phone.png" height="30px" width="30px" >contact us:<br>
 Gaurav Nigam-995871009<br>Tamal dey-932939293939

             </span>
        <!--<p class="add">Gaurav Nigam-995871009<br>Tamal dey-932939293939</p>-->


    </div>

<div>
    <p class="add-on" >Meet us at:</p>
    <span id="img-box">
    <img src="images/faceb.png" height="50px" width="50px" class="img-fb">
    </span>
    <span id="img-box">
    <img src="images/linkedin.png" height="50px" width="50px" class="img-fb">
    </span> <span id="img-box">
    <img src="images/Subtract.png" height="50px" width="50px" class="img-fb">
    </span>
    </span> <span id="img-box">
    <img src="images/google-plus.png" height="25px" width="25px" class="img-gp">
    </span>
</div>
</div>