<div class="container" style="height: 100%">
    <div class="row" style="font-size: 3.5em;color: white;margin-top:300px;font-weight: bold" >

    <div class="col-4 ml-0 ">Events</div>

    </div>

    <div class="row" style="font-size: 1.5em;color: white;font-family: Helvetica,cursive" >

        <div class="col-4 ml-0 ">Each year, IEEE MAIT conducts and participates in a plethora of events...</div>

    </div>
    <div class="row offset-6 " style="margin-left: 680px;margin-top: 60px;font-size: 2em;color: white;font-weight: bold">
        <div class="offset-6  ">2018</div>
    </div>

        <div class="row" style="width: 850px;margin-bottom:0;margin-left: 700px;margin-top: 140px;font-size: 2em;color: white;font-weight: bold">
            <div class=" col-3  ">2017</div>
           <div class="col-3 mt-2" style="margin-left: 90px">2016</div>

        </div>
    <!--<div class=" row" style="margin-left: 1050px;font-weight: bold;font-size: 2em;color: white">2016</div>-->

</div>