<div id="navbar">
	<ul id="menu">
		<li class="logo"><a href="/"><img id="logo" src="images/logo.png"></a></li>
		<li data-menuanchor="welcome"><a href="#welcome">Welcome</a></li>
		<li data-menuanchor="about"><a href="#about">About</a></li>
		<li data-menuanchor="events"><a href="#events">Events</a></li>
		<li data-menuanchor="projects"><a href="#projects">Projects</a></li>
		<li data-menuanchor="achievements"><a href="#achievements">Achievements</a></li>
		<li data-menuanchor="contact"><a href="#contact">Contact Us</a></li>
	</ul>
</div>