<div id="navbar">
	<a href="#about">About</a>
	<a href="#welcome">Welcome</a>
	<a href="#events">Events</a>
	<a href="#projects">Projects</a>
	<a href="#achievements">Achievements</a>
	<a href="#contact">Contact Us</a>
</div>