<div class="welcome-grid">
	<div class="content">
		<p class="welcome-p">WELCOME TO</p>
		<p class="welcome-ieee"><span>IEEE</span> MAIT</p>
		<p class="welcome-p1">Join us on our incredible journey towards</p>
		<p class="welcome-p2">Advancing Technology for Humanity...</p>
	</div>
	<div class="join-btn">
		JOIN US
	</div>
</div>