#about-section{
	background-image: url('../images/Group21.png');
	background-size:100% auto;
}
#welcome-section{
	background-image: url('../images/Group22.png');
	background-size:100% auto;
}
#events-section{
	background-image: url('../images/Group23.png');
	background-size:100% auto;
}
#projects-section{
	background-image: url('../images/Group3.png');
	background-size:100% auto;
}
#achievements-section{
	background-image: url('../images/Group2.png');
	background-size:100% auto;
}
#contact-section{
	background-image: url('../images/Group6.png');
	background-size:100% auto;
}

#navbar{
	width: 100%;
	height: 9%;
	top: 0px;
	position: absolute;
	z-index: 999;
	background-color: rgba(255, 255, 255, 0);
}

#menu li.active a{
	background: rgba(255,255,255, 0.3);
	color: #fff;
	-webkit-border-radius: 10px; 
            border-radius: 10px;
    padding: 5px 10px;
}

#menu{
	top:0;
	left:0;
	height: 80px;
	width: 100%;
	padding: 0;
	margin:0;
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}
#menu li a{
	text-decoration: none;
	color: #fff;
	font-family: 'Open Sans', sans-serif; 
	font-size: 24px;
}

#menu li #logo{
	height: 100px;
	width: 100px;
}


#menu li.logo {
	flex-grow: 6;
}
#menu li:nth-child(n+2){
	flex-grow: 1;
	text-align: center;
	vertical-align: middle;
	line-height: 80px;
}

.logo {
	padding: 10px 0 0 40px;
}

/*Welcome Page*/

.welcome-grid{
	margin-top: 60px;
	display:grid;
	height: 100%;
	grid-template-columns: 65% 35%;
	grid-template-rows: 60% 40%;
	padding: 10%;
}

.welcome-grid > .content {
	grid-column: 1/2;
	grid-row: 1/2;

}

.welcome-grid > .join-btn{
	grid-column: 2/3;
	grid-row: 2/3;	
	align-self: end;
	justify-self: end;
	background: #f0f8ff;
    font-size: 3em;
    border-radius: 19px;
    padding: 5px 60px;
    font-family: Helvetica;
    font-weight: bold;
    mix-blend-mode: screen;
    cursor: pointer;
}

.welcome-grid > .content > p {
	color: white;
	font-family: "Questrial", arial, sans-serif;
	margin:0 0 20px 0;
}

.welcome-grid > .content > p.welcome-p {
	font-size: 2.5em;
    font-weight: 400;
}

.welcome-grid > .content > p.welcome-ieee{
	font-size: 9em;
}

.welcome-grid > .content > p.welcome-ieee > span {
	font-weight: bold;
}

.welcome-grid > .content > p.welcome-p1,.welcome-grid > .content > p.welcome-p2{
	font-size: 2em;
} 

.welcome-grid > .content > p.welcome-p2 {
	font-style: italic;
	font-weight: bold;
}
